table {
    width: 40%;
    border-collapse: collapse;
    background-color: black;
  }
  
  th, td {
    border: 2px solid #8b8b8b;
    padding: 8px;
    font-size: 14px;
    grid-row: auto;
    background-color: black;
    color: rgb(184, 184, 184);
  }
  
  th {
    background-color: #333;
    color: rgb(0, 0, 0);
    color: rgb(184, 184, 184);
  }
div {
  background-color: black;
}
h1 {
  background-color: #ddd;
}
  
  